<div class="container mx-auto">
    <nav class="text-sm font-medium text-gray-500">
        <a href="/" class="text-blue-500 hover:underline">Home</a> /
        <span>{{postDetails?.title}}</span>
    </nav>

    <div class="mt-8">
        <div class="md:w-full">
            <div class="bg-white shadow-md p-6">
                <span
                    class="inline-flex items-center rounded-md bg-purple-50 px-2 py-1 text-xs font-medium text-purple-700 ring-1 ring-inset ring-purple-700/10">{{postDetails?.categoryId?.categoryTitle}}</span>
                <p class="text-sm text-gray-600">{{postDetails?.post?.category}}</p>
                <h2 class="text-xl font-semibold mt-4">{{postDetails?.title | titlecase}}</h2>
                <div class="image-container mt-4 flex justify-center items-center">
                    <img [src]="getImageUrl(postDetails?.image)" alt="" class="w-full max-h-[300px]">
                </div>
                <p class="text-sm text-gray-600 text-end italic">Posted By <a href=""
                        [routerLink]="'/user/' + postDetails?.userId?._id"
                        class="font-semibold text-blue-500 hover:underline">{{postDetails?.userId?.name |
                        titlecase}}</a> on <span class="font-semibold">{{postDetails?.createdAt |
                        date:'mediumDate'}}</span></p>
                <div class="mt-4">{{postDetails?.content}}</div>
            </div>
        </div>

        <div class="md:w-8/12 md:mx-auto mt-8">
            <h3 class="text-xl font-semibold">Comments ({{comments?.length}})</h3>
            <ng-container *ngIf="comments">
                <div *ngFor="let comment of comments" class="bg-white shadow-md mt-4">
                    <div class="p-4">
                        <p>{{ comment.comment }}</p>
                        <p class="text-right italic">-{{comment?.userId?.name}}</p>
                    </div>
                </div>
            </ng-container>

            <div class="bg-white shadow-md border-t-4 border-blue-500 mt-8">
                <div class="p-4">
                    <textarea
                        class="w-full bg-gray-100 border border-gray-300 rounded p-2 focus:outline-none focus:border-blue-500"
                        rows="4" placeholder="Enter comment here" [(ngModel)]="userComment"></textarea>
                </div>
                <div class="p-4">
                    <button (click)="submitComment()"
                        class="px-4 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600 focus:outline-none">Add
                        Comment</button>
                </div>
            </div>
        </div>
    </div>
</div>