<div class="flex h-screen">
    <!-- Side panel -->
    <div class="bg-gray-800 text-white overflow-hidden"
        [ngClass]="{'translate-x-0 w-1/4': isSidePanelOpen, '-translate-x-0 w-14': !isSidePanelOpen}">
        <div class="p-4">
            <h2 class="text-2xl font-semibold mb-4" *ngIf="isSidePanelOpen">Blogging</h2>
            <h2 class="text-2xl font-semibold mb-4" *ngIf="!isSidePanelOpen">B</h2>

            <!-- Sidebar links -->
            <ul class="mt-4">
                <ng-container *ngIf="isSidePanelOpen; else iconsOnly">
                    <li class="mb-2 flex items-center">

                        <a href="#" class="block py-2 px-4 rounded hover:bg-gray-700 w-full">
                            <span class="mr-2">
                                <i class="fas fa-chart-line"></i>
                            </span>Dashboard
                        </a>
                    </li>
                    <li class="mb-2 flex items-center">
                        <a href="#" class="block py-2 px-4 rounded hover:bg-gray-700 w-full" routerLink="/admin/users">
                            <span class="mr-2">
                                <i class="fas fa-users"></i>
                            </span>Users
                        </a>
                    </li>
                    <li class="mb-2 flex items-center">
                        <a href="#" class="block py-2 px-4 rounded hover:bg-gray-700 w-full">
                            <span class="mr-2">
                                <i class="fas fa-file-alt"></i>
                            </span>Posts
                        </a>
                    </li>
                    <li class="mb-2 flex items-center">
                        <a href="#" class="block py-2 px-4 rounded hover:bg-gray-700 w-full">
                            <span class="mr-2">
                                <i class="fas fa-cog"></i>
                            </span>Settings
                        </a>
                    </li>
                </ng-container>
                <ng-template #iconsOnly>
                    <li class="mb-2 flex items-center">
                        <a href="#" class="my-2">
                            <span class="mr-2">
                                <i class="hover:text-yellow-600 fas fa-chart-line"></i>
                            </span>
                        </a>
                    </li>
                    <li class="mb-2 flex items-center">
                        <a href="#" class="my-2">
                            <span class="mr-2">
                                <i class="hover:text-yellow-600 fas fa-users"></i>
                            </span>
                        </a>
                    </li>
                    <li class="mb-2 flex items-center">
                        <a href="#" class="my-2">
                            <span class="mr-2">
                                <i class="hover:text-yellow-600 fas fa-file-alt"></i>
                            </span>
                        </a>
                    </li>
                    <li class="mb-2 flex items-center">
                        <a href="#" class="my-2">
                            <span class="mr-2">
                                <i class="hover:text-yellow-600 fas fa-cog"></i>
                            </span>
                        </a>
                    </li>
                </ng-template>

            </ul>
        </div>
    </div>
    <!-- Main area -->
    <div class="w-full bg-gray-200 transition-all duration-300 ease-in-out"
        [ngClass]="{'ml-0': !isSidePanelOpen, 'ml-1/4': isSidePanelOpen}">
        <!-- Header -->
        <header class="bg-white shadow p-4">
            <div class="flex justify-between items-center">
                <h1 class="text-xl font-semibold">Admin Dashboard</h1>
                <button class="focus:outline-none text-red-500" (click)="toggleSidePanel()">Toggle</button>
                <!-- Add any header elements here, such as user profile dropdown -->
            </div>
        </header>
        <!-- Content area -->
        <div class="p-4">
            <!-- Main content goes here -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>