<div class="flex h-screen">
    <!-- Side panel -->
    <app-side-panel [isSidePanelOpen]="isSidePanelOpen"></app-side-panel>
    <!-- Main area -->
    <div class="w-full bg-gray-200 transition-all duration-300 ease-in-out"
        [ngClass]="{'ml-0': !isSidePanelOpen, 'ml-1/4': isSidePanelOpen}">
        <!-- Header -->
        <header class="bg-white shadow">
            <div class="flex justify-between items-center h-14 text-white bg-sky-300 px-4">
                <div class="flex items-center">
                    <button class="focus:outline-none text-red-500 mr-2" (click)="toggleSidePanel()">
                        <i class="fas fa-bars text-white hover:text-gray-500 text-xl"></i>
                    </button>
                    <h1 class="text-xl font-semibold">Admin Dashboard</h1>
                </div>
                <div class="flex items-center">
                    <span class="font-bold mx-2">{{user?.name}}</span>
                    <i class="fas fa-sign-out-alt cursor-pointer text-xl" (click)="doLogout()"></i>
                </div>
                <!-- Add any header elements here, such as user profile dropdown -->
            </div>
        </header>
        <!-- Content area -->
        <div class="m-4">
            <!-- Main content goes here -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>