<div class="container mx-auto">
    <div class="md:flex md:justify-between md:items-center">
        <h1 class="text-3xl font-bold mb-4">Blogs Count ({{posts?.length}})</h1>
    </div>

    <div class="md:flex md:flex-wrap">
        <div class="md:w-full">
            <ng-container *ngIf="posts">
                <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-4">
                    <div *ngFor="let post1 of posts" class="border border-gray-200 shadow-md rounded-md p-4">
                        <!-- Post component -->
                        <app-post [post]="post1"></app-post>
                    </div>
                </div>
                <!-- <div *ngIf="!posts.content || posts.content.length === 0" class="text-center mt-4">
                    No posts found.
                </div> -->
            </ng-container>
            <div *ngIf="!posts" class="text-center mt-4">
                Loading...
            </div>
            <div *ngIf="posts" class="text-center mt-4">
                End of posts.
            </div>
        </div>
    </div>
</div>