<div class="container mx-auto">
    <div class="mt-4">
        <div class="w-full md:w-1/2 mx-auto">
            <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <h3 class="text-xl font-semibold mb-4">Reset Password</h3>
                <form [formGroup]="resetForm">
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Enter Password</label>
                        <input type="text" id="username" class="form-input w-full" placeholder="Enter Password"
                            formControlName="password" />
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Confirm Password</label>
                        <input type="text" id="username" class="form-input w-full" placeholder="Enter Password" formControlName="confirmPassword" />
                    </div>
                    <div class="text-center">
                        <button class="bg-gray-800 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded"
                            type="submit" (click)="submitHandler()">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>