<nav class="bg-gray-800">
    <div class="container mx-auto px-4">
        <div class="flex items-center justify-between h-16">
            <div class="flex-shrink-0">
                <a class="text-white" routerLink="/">MyBlog</a>
            </div>
            <div class="md:hidden">
                <button class="text-white focus:outline-none focus:text-white">
                    <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="block" fill="#fff" d="M4 6h16M4 12h16m-7 6h7"></path>
                        <path class="hidden" fill="#fff" d="M6 18L18 6M6 6l12 12">
                        </path>
                    </svg>
                </button>
            </div>
            <div class="hidden md:flex md:items-center">
                <div class="flex-grow">
                    <ul class="flex justify-end space-x-4 items-center">
                        <li>
                            <a class="text-white" routerLink="/">Home</a>
                        </li>
                        <li>
                            <a class="text-white" routerLink="/add-post">Post Blog</a>
                        </li>
                        <li>
                            <input type="search" id="search" placeholder="Search post"
                                class="bg-gray-700 border border-gray-600 rounded-md py-1 px-3 text-white focus:outline-none focus:ring focus:border-blue-300" />
                        </li>
                    </ul>
                </div>
                <div class="ml-4 flex items-center">
                    <ul class="flex space-x-4">
                        <ng-container *ngIf="isLoggedIn; else notLoggedIn">
                            <li>
                                <a class="text-white" href="" *ngIf="userData?.name"
                                    [routerLink]="'/user/' + userData?._id">{{ userData?.name }}</a>
                            </li>
                            <li>
                                <a class="text-white" href="" (click)="doLogout()">Logout</a>
                            </li>
                        </ng-container>
                        <ng-template #notLoggedIn>
                            <li>
                                <a class="text-white" routerLink="/login">Login</a>
                            </li>
                            <li>
                                <a class="text-white" routerLink="/signup">Signup</a>
                            </li>
                        </ng-template>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</nav>